@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext")

*
  box-sizing border-box
  font-family PT Sans, sans-serif
  margin 0px
  padding 0px
  line-height 150%
  -webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

div
  margin 10px
  padding 10px
